.breakdown-cover-container {
  padding-top: 8px;
}
.breakdown-cover-insurer-image {
  height: 25px;
  width: 25px;
  margin-top: -20px;
}
.breakdown-cover-insurer-image-addons {
  height: 25px;
  width: 25px;
  margin-top: -5px;
}
.breakdown-cover-cost-text {
  font-size: 12px;
  color: black;
}