#GuideHub body {
  font-family: "AvenirNextCustom", Arial, sans-serif;
}
#GuideHub .seo-GreyBackground {
  background-color: #f2f2f2;
}
#GuideHub .padding-mobile {
  padding: 10px;
}
#GuideHub .seo-LightBlueBackground {
  background-color: #f2f8fa;
}
#GuideHub .Seo-margin-top {
  margin-top: 5px;
  padding: 10px;
}
#GuideHub .default-font {
  color: #234397;
}
#GuideHub .h1-Tag {
  font-size: 44px;
}
#GuideHub .h1-Tag-Mobile {
  font-size: 30px;
  padding: 10px;
}
#GuideHub .h3-Tag {
  font-size: 20px;
}
#GuideHub .h3-Tag-Mobile {
  font-size: 15px;
  padding: 10px;
}
#GuideHub .a-text-decoration {
  text-decoration: underline;
}
#GuideHub .seo-BulletPointPaddingNone {
  padding-left: 0;
}
#GuideHub .seo-ListWithNoBulletPoints {
  list-style: none;
  padding: 0;
}
#GuideHub .seo-HeaderPadding {
  padding: 10px 0 0 0;
}
#GuideHub .navigationBarXLarge {
  font-size: 18px;
  text-align: right;
}
#GuideHub .navigationBarLarge {
  width: 65%;
  float: right;
  font-size: 15px;
  text-align: right;
}
#GuideHub .navigationBarSmall {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
#GuideHub .float-right {
  float: right;
}
#GuideHub .float-left {
  float: left;
}
#GuideHub .white-Font {
  color: #ffffff;
}
#GuideHub .center-Tag {
  text-align: center;
}
#GuideHub .seo-hero-GuideLayout {
  margin-top: 10px;
  min-height: 120px;
  background: #234397;
  background: -webkit-linear-gradient(#2A2F83, #0062AD);
  background: -o-linear-gradient(#2A2F83, #0062AD);
  background: -moz-linear-gradient(#2A2F83, #0062AD);
  background: linear-gradient(#2A2F83, #0062AD);
}
#GuideHub .seo-hero-Content {
  height: 170px;
  background-color: #234397;
}
#GuideHub .seo-Hero-get-A-Quote-Button-Large {
  width: 300px;
  border-radius: 10px 10px 10px 10px;
}
#GuideHub .seo-Hero-get-A-Quote-Button-font-Large {
  font-size: 25px;
}
#GuideHub .seo-Hero-get-A-Quote-Button-chevron {
  font-size: 40px;
  top: 10px;
  position: relative;
}
#GuideHub .seo-Hero-Button {
  height: 150px;
  margin-top: 20px;
}
#GuideHub .seo-Guide-RelatedArticle-img {
  margin-top: 10px;
  height: 100px;
  border-radius: 10px 0px 0px 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 2px #888888;
}
#GuideHub .seo-Guide-RelatedArticle-Content {
  margin-top: 10px;
  height: 100px;
  background-color: #fff;
  padding: 5px;
  box-shadow: 2px 2px 2px #888888;
  text-decoration: inherit;
  overflow: hidden;
}
#GuideHub .seo-Guide-RelatedArticle-Cheveron-Container {
  margin-top: 10px;
  height: 100px;
  background-color: #1FA3DD;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 2px 2px 2px #888888;
}
#GuideHub .seo-Guides-cheveron {
  margin-top: 40px;
  font-size: 20px;
  color: #fff;
}
#GuideHub .seo-Guides-cheveron a:hover {
  margin-top: 50px;
  font-size: 30px;
  color: red;
}
#GuideHub .seo-Guide-RelatedBox-Font-Headline {
  font-size: 18px;
  margin: 0;
}
#GuideHub .seo-Guide-RelatedBox-Font-SubHeader {
  font-size: 13px;
  margin: 0;
  text-decoration: none;
}
#GuideHub .seo-Guide-RelatedArticle-Spacer {
  margin-top: 10px;
  height: 100px;
}
#GuideHub .seo-Guide-RelatedArticle-Small-Spacer {
  margin-top: 10px;
  height: 20px;
}
#GuideHub .seo-GuidesContentAreaCTAFullWidth {
  padding-top: 15px;
  height: 110px;
}
#GuideHub .seo-Hero-get-A-Quote-Button-font-Small {
  font-size: 15px;
  top: 0;
}
#GuideHub .seo-Hero-get-A-Quote-Button-chevron-Small {
  font-size: 28px;
  top: 7px;
  position: relative;
}
#GuideHub .seo-scaffold-font-Small {
  margin: 0px 0px 0px 160px;
  line-height: 20%;
}
#GuideHub .btn-hero-landing {
  background: #63b929;
  background: -webkit-linear-gradient(#63b929, #4aa010);
  background: -o-linear-gradient(#63b929, #4aa010);
  background: -moz-linear-gradient(#63b929, #4aa010);
  background: linear-gradient(#63b929, #4aa010);
  border-radius: 5px;
  padding: 4px 48px;
  font-size: 23px;
  color: #fff;
  text-transform: none;
  border: 1px solid #5eb424;
  box-shadow: 2px 2px 4px #1c367b;
}