#Guide body {
	font-family: "AvenirNextCustom", Arial, sans-serif;
}

#Guide .seo-GreyBackground {
	background-color: #f2f2f2;
}

#Guide .seo-BlueBackground {
	background-color: #59d1ff;
}

#Guide .seo-LightBlueBackground {
	background-color: #f2f8fa;
}

#Guide .Seo-margin-top {
	margin-top: 5px;
}

#Guide .default-font {
	color: #234397;
}

#Guide .h1-Tag {
	font-size: 44px;
}

#Guide .h1-Tag-Mobile {
	font-size: 30px;
	padding: 10px;
}

#Guide .h3-Tag {
	font-size: 20px;
}

#Guide .h3-Tag-Mobile {
	font-size: 15px;
	padding: 10px;
}

#Guide .seo-BulletPointPaddingNone {
	padding-left: 0;
}

#Guide .seo-ListWithNoBulletPoints {
	list-style: none;
	padding: 0;
}

#Guide .seo-HeaderPadding {
	padding: 10px 0 0 0;
}

#Guide .navigationBarXLarge {
	font-size: 18px;
	text-align: right;
}

#Guide .navigationBarLarge {
	width: 65%;
	float: right;
	font-size: 15px;
	text-align: right;
}

#Guide .navigationBarSmall {
	width: 100%;
	font-size: 13px;
	text-align: center;
}

#Guide .float-right {
	float: right;
}

#Guide .float-left {
	float: left;
}

#Guide .text-allign-left {
	text-align: left;
}

#Guide .a-text-decoration {
	text-decoration: underline;
}

#Guide .white-Font {
	color: #ffffff;
}

#Guide .center-Tag {
	text-align: center;
}

#Guide .seo-hero-ArticleLayout {
	margin-top: 10px;
	min-height: 120px;
	background: #234397;
	background: -webkit-linear-gradient(#2A2F83, #0062AD);
	background: -o-linear-gradient(#2A2F83, #0062AD);
	background: -moz-linear-gradient(#2A2F83, #0062AD);
	background: linear-gradient(#2A2F83, #0062AD);
}

#Guide .seo-hero-Content {
	height: 400px;
	background-color: navy;
}

#Guide .seo-HeroTrustPilot {
	height: 102px;
	width: 224px;
}

#Guide .seo-Hero-TrustPilotContrainer {
	margin-top: 85px;
}

#Guide .seo-hero-Text-Allign-Center {
	padding-top: 50px;
	text-align: center;
}

#Guide .seo-Hero-get-A-Quote-Button-Large {
	width: 300px;
	border-radius: 10px 10px 10px 10px;
}

#Guide .seo-Hero-get-A-Quote-Button-font-Large {
	font-size: 25px;
}

#Guide .seo-Hero-get-A-Quote-Button-font-small {
	font-size: 12px;
}

#Guide .seo-Hero-get-A-Quote-Button-Time {
	font-size: 13px;
	line-height: 150%;
}

#Guide .seo-Hero-get-A-Quote-Button-chevron {
	font-size: 40px;
	top: 10px;
	position: relative;
}

#Guide .set-Hero-BulletpointCotainer {
	height: 256px;
}

#Guide .seo-hero-ArticleImage {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 256px;
}

#Guide .seo-TrustedPartners {
	height: 67px;
	margin-top: 10px;
}

#Guide .seo-TrustedPartners-img {
	height: 100%;
	width: 100%;
}

#Guide .seo-TrustedPartners-Xs {
	margin-top: 20px;
}

#Guide .container-NoWidth {
	height: auto;
	width: 100%;
}

#Guide #SeoArticleBoxContainer {
	margin-top: 12px;
	height: 120px;
	background-color: #ffffff;
	border: 1px solid #f2f2f2;
	border-radius: 5px 5px 5px 5px;
}

#Guide .seo-ArticleFourBoxs1 {
	height: 150px;
	background-color: red;
}

#Guide .seo-ArticleFourBoxs2 {
	height: 150px;
	background-color: aqua;
}

#Guide .seo-ArticleFourBoxs3 {
	height: 150px;
	background-color: purple;
}

#Guide .seo-ArticleFourBoxs4 {
	height: 150px;
	background-color: black;
}

#Guide .seo-ArticleFourBoxs5 {
	height: 150px;
	background-color: green;
}

#Guide .seo-TrustPilotWrapper {
	margin-top: 12px;
	height: 190px;
	background-color: #FFFFFF;
	border: 1px solid #f2f2f2;
	border-radius: 5px 5px 5px 5px;
}

#Guide .seo-TrustPilotWrapper-Mobile {
	margin-top: 12px;
	height: auto;
	min-height: 200px;
	background-color: #FFFFFF;
	border: 1px solid #f2f2f2;
	border-radius: 5px 5px 5px 5px;
}

#Guide .seo-TrustPilotWidget {
	height: auto;
	width: 100%;
	border-style: none;
	display: block;
}

#Guide .seo-TrustPilotWidget-Mobile {
	width: 100%;
	border-style: none;
	display: block;
}

#Guide .seo-contentBar-HowCanWeHelp-Mobile {
	min-height: 45px;
	max-height: 70px;
	border-radius: 5px 5px 0px 0px;
	background: #234397;
	background: -webkit-linear-gradient(#2A2F83, #0062AD);
	background: -o-linear-gradient(#2A2F83, #0062AD);
	background: -moz-linear-gradient(#2A2F83, #0062AD);
	background: linear-gradient(#2A2F83, #0062AD);
}

#Guide .seo-contentBar-HowCanWeHelp {
	height: 45px;
	margin-top: 10px;
	border-radius: 5px 5px 0px 0px;
	background: #234397;
	background: -webkit-linear-gradient(#2A2F83, #0062AD);
	background: -o-linear-gradient(#2A2F83, #0062AD);
	background: -moz-linear-gradient(#2A2F83, #0062AD);
	background: linear-gradient(#2A2F83, #0062AD);
}

#Guide .seo-contentBar {
	height: 45px;
	margin-top: 10px;
	border-radius: 15px 15px 0px 0px;
	background: #234397;
	background: -webkit-linear-gradient(#2A2F83, #0062AD);
	background: -o-linear-gradient(#2A2F83, #0062AD);
	background: -moz-linear-gradient(#2A2F83, #0062AD);
	background: linear-gradient(#2A2F83, #0062AD);
}

#Guide .seo-ArticleContentAreaText {
	min-height: 300px;
	padding: 10px;
	height: auto;
	background-color: #FFFFFF;
	border-radius: 0px 0px 5px 5px;
}

#Guide .seo-ArticleContentAreaCTAFullWidth {
	padding-top: 15px;
	height: 110px;
}

#Guide .seo-RelatedArticesRow1 {
	margin-top: 15px;
}

#Guide .seo-sidebar-Content {
	background-color: #ffffff;
	height: 160px;
	margin-left: -13px;
	border-radius: 0px 10px 10px 0px;
}

#Guide .seo-Hero-get-A-Quote-Button-chevron-Small {
	font-size: 28px;
	top: 7px;
	position: relative;
}

#Guide .btn-hero-landing {
	background: #63b929;
	background: -webkit-linear-gradient(#63b929, #4aa010);
	background: -o-linear-gradient(#63b929, #4aa010);
	background: -moz-linear-gradient(#63b929, #4aa010);
	background: linear-gradient(#63b929, #4aa010);
	border-radius: 5px;
	padding: 4px 48px;
	font-size: 23px;
	color: #fff;
	text-transform: none;
	border: 1px solid #5eb424;
	box-shadow: 2px 2px 4px #1c367b;
}
