#ancillary-navigation {
	position: relative;
}

#ancillary-navigation ul.my-account-dropdown {
	left: 330px;
	width: 200px;
	margin-top: 3px;
}

#ancillary-navigation ul.my-account-dropdown li {
	font-size: 12px;
}

#ancillary-navigation #AncillaryNavLogin {
	width: 550px;
	margin-top: 5px;
	margin-right: 65px;
	text-align: right;
}

#ancillary-navigation #AncillaryNavLogin input {
	margin-right: 5px;
	font-size: 11px;
	color: #2f3b50;
}

#AncillaryNavValidationMessage {
	color: #e92a1b;
	font-size: 14px;
	text-align: right;
}