

ul.list {
	list-style: none;
	margin-top: 15px;
	margin-bottom: 15px;
}

	ul.list li {
		display: inline-block;
	}


.guide-h1-scale-size {
	font-size: 2.8vw;
}

.guide-h2-scale-size {
	font-size: 2vw;
}

.guide-h1-scale-size-no-image {
	font-size: 44px;
	font-weight: bolder;
}

.guide-h2-scale-size-no-image {
	font-size: 30px;
}

.guide-header {
	padding: 8px;
}

.guide-header-no-image {
	padding: 5px;
}

@media (max-width: 767px) {
	.guide-h1-scale-size {
		font-size: 20px;
	}

	.guide-h2-scale-size {
		font-size: 15px;
	}

	.nav-menu {
		position: absolute;
		left: -160px;
		top: 7px;
		z-index: 1;
	}

	.guide-nav-item-container {
		margin-left: -50px;
		margin-top: 20px;
		z-index: -1;
		display: none;
	}

	.guide-nav-item {
		width: 181px;
		height: 40px;
		text-align: center;
		display: block;
		border-bottom: solid 1px #000000;
		background-color: #f2f2f2;
		text-align: center;
	}

	.guide-nav-item-text {
		font-size: 15px;
		color: black;
	}

	.guide-nav-disapay-toggeled {
		display: block;
	}

	.guide-header-title {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.guide-header {
		padding: 5px;
	}
}

@media (min-width: 767px) {
	.nav-menu {
		font-size: 15px;
		text-align: right;
		font-weight: bold;
		color: #234397;
	}

	.guide-nav-item {
		display: inline-block;
	}

	.guide-nav-item-container {
		list-style: none;
		margin-top: 15px;
		margin-bottom: 15px;
	}
}

@media (min-width: 992px) {
	.nav-menu {
		font-size: 18px;
		text-align: right;
		font-weight: bold;
		color: #234397;
	}
}

.guide-nav-item-element-spacing {
	padding-left: 2px;
}

.guide-section-text {
	color: white;
}

.guide-breadcrumb-link {
	text-decoration: underline;
	text-decoration-line: underline;
	text-decoration-style: initial;
	text-decoration-color: initial;
}

	.guide-breadcrumb-link:hover,
	.guide-breadcrumb-link:active,
	.guide-breadcrumb-link:focus {
		color: #fff;
		text-decoration: none;
	}

.guide-section-background {
	background: #234397;
	background: -webkit-linear-gradient(#2a2f83,#0062ad);
	background: -o-linear-gradient(#2a2f83,#0062ad);
	background: -moz-linear-gradient(#2a2f83,#0062ad);
	background: linear-gradient(#2a2f83,#0062ad);
}

.btn-get-quote,
.btn-get-quote:active,
.btn-get-quote:focus,
.btn-get-quote:hover {
	background: #63b929;
	background: -webkit-linear-gradient(#63b929, #4aa010);
	background: -o-linear-gradient(#63b929, #4aa010);
	background: -moz-linear-gradient(#63b929, #4aa010);
	background: linear-gradient(#63b929, #4aa010);
	border-radius: 5px;
	padding: 4px 48px;
	font-size: 23px;
	color: #fff;
	text-transform: none;
	border: 1px solid #5eb424;
	box-shadow: 2px 2px 4px #1c367b;
	margin: 16px 5px;
}

.btn-load-more-guide,
.btn-load-more-guide:active,
.btn-load-more-guide:focus,
.btn-load-more-guide:hover {
	margin-top: 20px;
	background: #888;
	background: -webkit-linear-gradient(#234397,#1fa3dd);
	background: -o-linear-gradient(#234397,#1fa3dd);
	background: -moz-linear-gradient(#234397,#1fa3dd);
	background: linear-gradient(#234397,#1fa3dd);
	border-radius: 5px;
	padding: 4px 48px;
	font-size: 23px;
	color: #fff;
	text-transform: none;
	border: 1px;
	margin-bottom: 20px;
	box-shadow: 2px 2px 4px #1c367b;
}

.breadcrumb-left {
	text-align: left;
}

.guide-nav-hidden {
	display: none;
}

.guide-nav-shown {
	display: block;
}

.guide-nav-float-menu {
	position: absolute;
	left: -160px;
	top: 7px;
	z-index: 1;
	display: block;
}

.guide-section-header-text {
	color: white;
	font-size: 15px;
	line-height: 45px;
	font-weight: bolder;
}

.guide-section-header-text-widgets {
	color: black;
	font-size: 15px;
	line-height: 35px;
	font-weight: bolder;
	padding-left: 10px;
}

.guide-trust-pilot-small-widget-spacer {
	margin-top: 20px;
	margin-bottom: 20px;
}

.guide-trust-pilot-fullwidget-spacer {
	height: 190px;
}

.guide-partner-widget-centre-image {
	display: inline-block;
}

.guide-partner-widget-bottom-spacing {
	padding-bottom: 30px;
}

.guide-section-wrapper {
	background-color: #fff;
	border: 1px solid #f2f2f2;
	border-radius: 5px 5px 5px 5px;
	margin-top: 10px;
	overflow: hidden;
	box-shadow: 2px 2px 2px #c7c7c7;
}

.header-product-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 210px;
}

.guide-content-section {
	height: auto;
	width: 100%;
	background-color: #f2f2f2;
	padding-bottom: 10px;
}

.guide-content-section-title {
	line-height: 35px;
	height: 45px;
	margin-top: 10px;
	border-radius: 5px 5px 0 0;
	text-align: center;
	font-size: 15px;
}

.guide-content-section-content {
	padding: 10px;
	height: auto;
	background-color: #fff;
	border-radius: 0 0 5px 5px;
	margin-bottom: 20px;
}

	.guide-content-section-content h1,
	.guide-content-section-content h2 {
		font-weight: bold;
	}

	.guide-content-section-content h2 {
		margin-top: 30px;
	}

	.guide-content-section-content h3 {
		font-weight: normal;
		font-style: italic;
	}

.guide-bottom-fixed-section {
	padding-top: 10px;
	padding-bottom: 10px;
}

.guide-bottom-fixed-section-small-text {
	font-size: 16px;
	color: #fff;
	font-weight: 600;
}

.guide-bottom-fixed-section-large-text {
	font-size: 24px;
	color: #fff;
	font-weight: 600;
	margin-top: 13px;
}

.guide-bottom-fixed-section-fixed-position {
	position: fixed;
	bottom: -1px;
	z-index: 1;
	height: auto;
	width: 100%;
}

.guide-related-guide-section {
	height: 2px;
}

.guide-related-guide-side-section {
	height: auto;
	max-height: 625px;
	background-color: #ffffff;
	border-radius: 0 0 10px 10px;
	margin-bottom: 40px;
	box-shadow: 2px 2px 2px #C7C7C7;
}

.guide-related-guide-side-article {
	min-height: 100px;
	max-height: 105px;
	border-bottom: 1px solid #f2f2f2;
	overflow: hidden;
}

.guide-related-guide-side-article-list-item {
	list-style: none;
	padding: 0;
}

.guide-related-guide-side-article-image {
	width: 80px;
	height: 80px;
	margin-top: 10px;
	float: left;
	margin-right: 5px;
	margin-bottom: 10px;
}


.guide-related-guide-side-article-link {
	display: inherit;
	font-size: 14px;
	padding-top: 25px;
}

.guide-related-guide-bottom-section {
	height: auto;
	background-color: #f2f8fa;
}

.guide-related-guide-bottom-box {
	margin-bottom: 10px;
	border: 2px solid #2A2F83;
	background-color: #fff;
	text-align: center;
}

.guide-related-guide-more-guides-section-title {
	color: #234397;
	font-size: 25px;
	margin-top: 15px;
	background-color: #f2f8fa;
	text-align: center;
}

.guide-related-guide-bottom-box:hover {
	border: 2px solid green;
	font-size: 13px;
}

.guide-related-guide-bottom-article-link {
	width: 100%;
	display: block;
	position: relative;
	font-size: 13px;
	min-height: 23px;
}

.guide-related-guide-bottom-article-header {
	width: 100%;
	display: block;
	background-color: #000;
	background-color: rgba(000,0,0,0.5);
	position: absolute;
	bottom: 0;
	float: left;
	font-size: 13px;
	color: #ffffff;
	font-weight: bold;
}

.guide-related-guide-bottom-article-image {
	vertical-align: middle;
	width: 100%;
	position: relative;
	display: inline-block;
}

.guide-hub-related-guide {
	margin-top: 10px;
	height: 100px;
	border-radius: 10px 0 0 10px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 2px 2px 2px #888;
}

.guide-hub-related-guide-content {
	margin-top: 10px;
	height: 100px;
	background-color: #fff;
	padding: 5px;
	box-shadow: 2px 2px 2px #888;
	text-decoration: inherit;
	overflow: hidden;
	line-height: 100px;
}

.guide-hub-related-guide-content-text {
	display: inline-block;
	vertical-align: middle;
	line-height: 18pt;
}

.guide-hub-related-guide-content-text-large {
	font-size: 13px
}

.guide-hub-related-guide-content-text-small {
	font-size: 13px
}

.guide-hub-related-guide-chevron-container {
	margin-top: 10px;
	height: 100px;
	background-color: #1fa3dd;
	border-radius: 0 10px 10px 0;
	box-shadow: 2px 2px 2px #888;
}

.guide-hub-related-guide-chevron {
	margin-top: 40px;
	font-size: 20px;
	color: #fff;
}

.guide-hub-guide-guide-spacing {
	margin-top: 10px;
	height: 100px;
}

.guide-carousel-prev .arrow {
	right: 12px;
	background-position: -23px 0;
	position: absolute;
	top: 0;
	width: 23px;
	height: 35px;
	background-image: url(../Content/Images/GuideSEO/sprite_arrow.svg);
	background-size: 45px auto;
	background-repeat: no-repeat;
	cursor: pointer;
}

.guide-carousel-next .arrow {
	left: 12px;
	background-position: 0 0;
	position: absolute;
	top: 0;
	width: 23px;
	height: 35px;
	background-image: url(../Content/Images/GuideSEO/sprite_arrow.svg);
	background-size: 45px auto;
	background-repeat: no-repeat;
	cursor: pointer;
}

.font-size-22 {
	font-size: 21px;
}