/* styles for validation helpers */
.field-validation-error {
	color: #e92a1b;
}

.field-validation-valid {
	display: none;
}

input.input-validation-error {
	border: 2px solid #e92a1b;
}

input[type="checkbox"].input-validation-error {
	border: 0 none;
}

.validation-summary-errors {
	color: #e92a1b;
}

.validation-summary-valid {
	display: none;
}

div.error label {
	color: #e92a1b;
}

/*div.has-success button.selectpicker {
	border-color: #b2bb24;
}

div.has-error button.selectpicker {
	border-color: #e92a1b;
}*/