<div class="quote-results">    
  <div id="QuotingUnderwriterList">                
          <div name="quoting-underwriter-overlay" *ngFor="let quote of quotes">
              <article class="quote-result" name="quoting-result-article">
              <header class="quote-header">
                  <div class="quote-brand-wrap">
                      {{quote.UnderwriterName}}
                  </div>                       
              </header>
              <section class="quote-body">
                  <div class="quote-choice-wrap quote-excess-wrap" name="quoting-underwriter-section">
                    <label>
                      Voluntary Excess                      
                      <app-vountary-excess *ngIf="quote.UnderwriterSupportsVoluntaryExcess"  quote="quote.SelectedVoluntaryExcess"></app-vountary-excess>                      
                    </label>
                  </div> 
                  <div class="quote-requirements-wrap" name="quoting-underwriter-section">
                      <app-quote-requirements [quote]="quote"></app-quote-requirements>
                  </div>
              </section>
              <footer class="quote-footer" name="quoting-underwriter-section">  
                  <app-quote-select-button [quote]="quote" (quoteSelected)="onQuoteSelected($event)"></app-quote-select-button>                                       
              </footer>
          </article>
      </div>                            
  </div>
</div>