@media (max-width: @screen-xs-max) {
	#PolicyStartHourWrapper {
		float: left;
	}

	#PolicyStartMinuteWrapper {
		float: left;
	}

	#UnderwriterSelectionBackButtonWrapper {
		margin-top: 40px;
	}
}

.form-control-wrap-residency-type {
	margin-top: 10px;
}

#BasicDetailsStopwatch, #BasicDetailsStopwatchVan {
	background: no-repeat scroll 0 0;
	.img-retina('../../../images/icons/icon-stopwatch-grey.png', '../../../images/icons/icon-stopwatch-grey@2x.png', 95px, 130px);
	height: 175px;
	display: block;
	margin-left: 50px;
}

ul.quote-requirements-motorcycle {
	padding: 12px 10px;
}

@media (max-width: @screen-md-max) {
	ul.quote-requirements {
		line-height: 14px;

		li {
			margin-bottom: 6px;
		}
	}

	ul.quote-requirements-motorhome {
		line-height: 12px !important;
	}
}

@media (max-width: @screen-sm-max) {
	ul.quote-requirements {
		padding-top: 12px;

		li {
			font-size: 10px;
			margin-bottom: 0;
		}
	}

	ul.quote-requirements-motorhome li {
		font-size: 9.5px;
	}
}

@media (max-width: @screen-xs-max) {
	#QuoteReferencePanel {
		margin-top: 20px;
	}

	ul.quote-requirements {
		padding-top: 20px;
	}
}

.underwriter-selection-button {
	background-color: @move-forward-button-colour;
}

.underwriter-selection-button:hover {
	background-color: @move-forward-button-colour-dark;
	background-image: none;
}

#CompareQuotes {
	background-color: @move-forward-button-colour;
}

#CompareQuotes:hover {
	background-color: @move-forward-button-colour-dark;
}


@media (max-width: @screen-sm-max) {
	#PanelPersonalDetailsNextButton,
	#PanelContactDetailsNextButton,
	#PanelVehicleAndLicenceDetailsNextButtonFullLicence,
	#PanelVehicleAndLicenceDetailsNextButtonProvisionalLicence,
	#PanelAdditionalDriversNextButton,
	#PanelQuoteTypeNextButton,
	#CompareQuotes,
	#PanelLicenceAndUseNextButton,
	#PanelVehicleAndParkingNextButtonLoading {
		margin-top: 25px;
	}
}

#PanelPersonalDetailsNextButtonLoading,
#PanelContactDetailsNextButtonLoading,
#PanelVehicleAndLicenceDetailsNextButtonLoadingFullLicence,
#PanelVehicleAndLicenceDetailsNextButtonLoadingProvisionalLicence,
#PanelAdditionalDriversNextButtonLoading,
#PanelQuoteTypeNextButtonLoading,
#PanelFinalNextButtonLoading,
#PanelLicenceAndUseNextButtonLoading,
#PanelVehicleAndParkingNextButtonLoading {
	display: none;
	padding: 11px 39px 11px 40px;
}

#BasicDetailsContainer {
	padding-top: 20px;
}

#ImpoundedVehicleQuestion {
	margin-bottom: 0;
}

#VehicleRegNotKnownButton {
	float: right;
	box-shadow: none;
}

ul.bullets-as-pdf {
	margin: 10px 0 20px 0;
}

#BasicDetailsPanelVehicleAndLicenceProvisionalLicenceNextButton {
	display: none;
}


#RenewalDateWrapper{

    border-style: solid;
    border-width: medium;
    padding: 10px;
    background-color: @blue-darkest;
}

#ContactPreferences {
	.correspondence-checks {
		top: 10px;

		.btn {
			font-weight: bold;
			-webkit-box-shadow: none;
			box-shadow: none;

			&.btn-primary {
				color: #fff;
			}
		}
	}

	.toggle-button {
		top: 10px;
	}
}

#MarketingPreferenceButton {
	color: #fff;
	border-radius: 5px;
	margin: 5px;
	border: 1px solid #11348e !important;
	background-color: #11348e;
}
